/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a{
  text-decoration: none; /*リンク下線を非表示に設定*/
}

header, nav, h2, .main-visual, footer { /*見出しのフォントを変更*/
  font-family: Chalkduster, "Bradley Hand", Courier, "Segoe Print", sans-serif;
}
header { /*タイトルの設定*/
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center; /*中央寄りに設定*/
  position: relative; /*#socialの基準位置を相対位置へ変更する*/
}

.social i{ /*アイコンの設定*/
  display: inline-block;
  margin-left: 20px;
}
.social{
  position: absolute; /*headerの左上を基準に相絶対位置へ変更する*/
  top: 22px; /*headerの左上から22px下側へ移動する*/
  right: 22px; /*headerの右上から22px左側へ移動する*/
}

header .heading{ /*headerタグ内のheadingクラスのみ反映させる*/
  font-size: 32px;
}

.nav-list{ /*ナビの設定*/
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item{ /*ナビ内のリストの設定*/
  list-style: none; /*行頭に何もつかないことを*/
  display: inline-block; /*インラインブロックの使用を宣言*/
  margin: 0 20;
}


.main-visual {
  width: 100%; /*横幅いっぱい*/
  height: 300px;/*高さ３００px*/
  background-image: url(img/mv1.jpg); /*背景画像を指定*/
  background-size: cover; /*縦横比を維持したまま背景領域を埋め尽くす*/
  background-position: center; /*背景画像を中央に配置*/
}
.main-visual-content{ /*メインビジュアルのコンテンツ用*/
  width: 40%;/*横幅４０％*/
  height: 300px;
  background-color: rgba(0,0,0,0.5); /*背景色を半透明の黒にする*/
  text-align: center; /*文字を中央揃えにする*/
  padding-top: 105px; /*上側の内側余白で垂直方向の位置を調整*/
}
.main-visual-text{
  color: #fff; /*文字色を白に変更*/
}
.main-visual-name{
  margin-top: 30px; /*上側の外側の余白30px分*/
  color: #fff;/*文字色を白に変更*/
}

main{
  width: 840px;
  display: flex; /*flexboxの利用を宣言*/
  justify-content: center; /*子要素の横並び・中央寄せに設定*/
  margin: 0 auto; /* 中央寄せ（左右に余白がないとできない） */
  padding: 70px 0; /*上下に70px、左右に0pxの内側余白*/
}
.blog{
  width: 540px;
  margin-right: 30px;
}
.blog-heading{
  border-bottom: 8px solid #f7f7f7; /*枠を太さ8pxの直線・色を設定*/
  text-align: center; /*テキストのスタート地点を設定*/
  line-height: 0.6; /*文字の行間を設定*/
}
.blog-box{
  padding-top: 50px;
}
.blog-item{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f7f7f7;
  display: flex;
  justify-content:flex-start;
}
.blog-image{
  height: 180px; /*写真の大きさを設定*/
}
.blog-text{
  padding-top: 15px;
  padding-left: 30px;
}
.blog-text-heading{
  padding-top: 15px;
}
.blog-date{
  font-size: 12px;
  display: inline-block;
}
.category{
  display: inline-block; /*配置内容の設定*/
  padding: 5px 8px; /*余白の設定*/
  background-color: #acabab; /*背景色の設定*/
  border-radius: 3px; /*四つ角を丸くする宣言*/
  color: #fff; /*文字自体の色*/
  font-size: 11px; /*フォントサイズの設定*/
}
.pagination {
  text-align: center;
  padding-top: 50px;
}

.pagination p {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  color: #fff;
  background-color: #acabab;
  border-radius: 3px;
  line-height: 30px;
}
.sidebar{
  width: 230px;
}

.common-heading {
  border-bottom: 8px solid #f7f7f7;
  text-align: center;
  line-height: 0.6;
}

.sidebar-contents {
  padding: 50px 0;
}

.popular-text,
.categories-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #f7f7f7;
  margin-bottom: 5px;
}

.popular-text:last-child,
.categories-text:last-child {
  margin: 0;
  padding: 0;
  border: none;
}

.instagram .sidebar-contents {
  display: flex;
  flex-wrap: wrap;
}

.instagram-box {
  width: 110px;
  padding-top: 110px;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}

.instagram-box:nth-child(odd) {
  margin: 0 10px 10px 0;
}

.instagram-box:nth-child(1) {
  background-image: url(img/airport.jpg);
}

.instagram-box:nth-child(2) {
  background-image: url(img/japan.jpg);
}

.instagram-box:nth-child(3) {
  background-image: url(img/snow.jpg);
}

.instagram-box:nth-child(4) {
  background-image: url(img/japan2.jpg);
}

.instagram-box:nth-child(5) {
  background-image: url(img/lake.jpg);
}

.instagram-box:nth-child(6) {
  background-image: url(img/road.jpg);
}
footer{
  width: 100%;
  height: 120px;
  text-align: center; /*左右の中央揃え*/
  line-height: 120px; /*改行の無いテキストの上下中央揃え*/
  background-color: #848282;
}

.footer-text{
  color: #fff;
}

/*メディアクエリの設定*/
@media screen and (max-width: 425px) {
header {      /*headerの幅を条件付きで変更 */
  width: 100%;  /* 幅１００％ */
  }
}
@media screen and (max-width: 425px) {
nav {      /*headerの幅を条件付きで変更 */
  width: 100%;  /* 幅１００％ */
  }
}
@media screen and (max-width: 425px) {
main {      /*headerの幅を条件付きで変更 */
  width: 100%;  /* 幅１００％ */
  display: block;
   }
}
@media screen and (max-width: 425px) {
.sidebar {      /*headerの幅を条件付きで変更 */
  width: 100%;  /* 幅１００％ */
  }
}
@media screen and (max-width: 425px) {
footer {      /*headerの幅を条件付きで変更 */
  width: 100%;  /* 幅１００％ */
  }
}

